.card {
    margin: 4rem 0;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    max-height: 500px;
    margin: auto;
}

.card button {
    border: none;
 outline: 0;
 padding: 12px;
 color: white;
 background-color: #009245;
 text-align: center;
 cursor: pointer;
 width: 100%;
 font-size: 18px;
}

/* .card > div {
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-top: 2em;
} */

.card > div p {
    margin: 1rem 2rem;
    font-size: 1.2rem;
}

.card {
    font-weight: 700;
}

/* .card .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.2rem;
    padding: 1rem;
} */

.card img {
    width: 100%;
}

@media screen and (max-width:940px) {
    .card {
        margin: 1rem 0;
    }

    .card > div p {
        margin: 1rem;
        font-size: 1rem;
    }

    .card .container {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }
}

@media screen and (max-width: 478px) {
    .card > div p {
        margin: 1rem .5rem;
    }
}