.out {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 75%;
    width: 40%;
    border-radius: 10px;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}


